@model Tworcy.Models.Spis.AssetIndexModel

<h3>Katalog Twórców</h3>

<div class="row">
    @foreach (var asset in Model.Assets)
    {
        <div class="col-auto">
            <div class="tworca">
                <a asp-controller="Spis" asp-action="Detail" asp-route-id="@asset.Id" class="cardLink">
                    <img class="img-thumbnail" src="@asset.Zdjecie" alt="Card image cap">
                </a>
                    <p>@asset.Imie @asset.Nazwisko</p>
                
            </div>
        </div>
    }
</div>
