@model Tworcy.Models.Spis.AssetIndexModel

<div id="assets">
    <h3>Katalog Twórców</h3>
    <div id="assetsTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var asset in Model.Assets)
            {
                <tr class="assetRow">
                    <td class="">@asset.Imie</td>
                    <td class="">@asset.Nazwisko</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>