@model Tworcy.Models.Spis.AssetIndexModel

<h3>Katalog Twórców</h3>

<div class="row">
    @foreach (var asset in Model.Assets)
    {
        <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2">
            <div class="card">
                <img class="card-img-top" src="@asset.Zdjecie" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@asset.Imie @asset.Nazwisko</h5>
                </div>
            </div>
        </div>
    }
</div>
